<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A new frontend for Crunchyroll, with a less crunchy experience.">
    <meta name="og:title" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="og:type" property="og:type" content="website">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <main id='app'></main>
  </body>
</html>
