<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A new frontend for Crunchyroll, with a less crunchy experience.">
    <meta name="og:title" property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
    <meta name="og:type" property="og:type" content="website">
    <meta name="og:description" property="og:description" content="A new frontend for Crunchyroll, with a less crunchy experience.">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <main id='app'>
      <style>
        body {
          background: #181818;
          color: #eceeec;
          font-family: sans-serif;
        }
      </style>
      <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <h1>Loading</h1>
      </div>
    </main>
  </body>
</html>
