$font-family-sans-serif: 'Open Sans';

$enable-responsive-font-sizes: true;

$primary: #F47520;
$secondary: #666666;
$success: #333333;
$danger: #FF0000;
$info: #515151;
$warning: #5f5f5f;
$light: #eceeec;
$dark: #111111;
$body-bg: #181818;

$embed-responsive-aspect-ratios: (
    (16 9),
    (1 2),
    (2 3)
);
