$headings-font-family: 'Open Sans';

$primary: #1f3a93;
$secondary: #666666;
$success: #333333;
$danger: #FF0000;
$info: #515151;
$warning: #5f5f5f;
$light: #eceeec;
$dark: #111111;
$body-bg: #181818;
